/* ---------------------------------------------------------- Header & logo------------------------------------------------------- */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Plus Jakarta Sans', sans-serif;
	text-transform: capitalize;
}
body{
	background-image: white;
}
/* ------------------------------------------------------- Header ------------------------------------------------------------------------------ */
header {
	background: rgb(108, 160, 161);
	padding: 1rem 3px;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	flex-direction: row;
}
a .navbar-brand{
	display: flex;
	align-items: center;
}
img{
	width: 40px;
}
.navbar-brand h1{
	font-family: 'lora',serif;
	color: #09274A;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 1.5px 1.5px 1.5px #dddada;
	text-decoration: wavy;
	margin: 0;
	line-height: .75;
	font-style: oblique;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Plus Jakarta Sans', sans-serif;
	text-transform: capitalize;
}
body{
	background-image: white;
}
/* ------------------------------------------------------- Header ------------------------------------------------------------------------------ */
.card-navbar {
	display: flex;
	height: 70px;
	width: 350px;
}
.card-navbar svg {
	position: absolute;
	display: flex;
	width: 60%;
	height: 100%;
	font-size: 24px;
	font-weight: 700;
	opacity: 1;
	transition: opacity 0.25s;
	z-index: 2;
	padding: 0.25rem;
	cursor: pointer;
}
.card-navbar .social-link1,.card-navbar .social-link2,.card-navbar .social-link3,.card-navbar .social-link4,.card-navbar .social-link5 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	color: whitesmoke;
	font-size: 24px;
	text-decoration: none;
	transition: 0.25s;
	border-radius: 50px;
}
.card-navbar svg {
	transform: scale(1);
}
.card-navbar .social-link1:hover {
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	animation: bounce_613 0.4s linear;
}
.card-navbar .social-link2:hover {
	background-color: #242c34;
	animation: bounce_613 0.4s linear;
}
.card-navbar .social-link3:hover {
	background-color: #5865f2;
	animation: bounce_613 0.4s linear;
}
.card-navbar .social-link4:hover {
	background-color: #0a66c2;
	animation: bounce_613 0.4s linear;
}
.card-navbar .social-link5:hover {
	background-color: #ff8000;
	animation: bounce_613 0.4s linear;
}
@keyframes bounce_613 {
	40% {
		transform: scale(1.4);
	}
	60% {
		transform: scale(0.8);
	}
	80% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* -------------------------------------------------------- About ------------------------------------------------------------ */
.container{
    padding: 45px;
    background-color:white;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.container-fluid{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px;
}
.content{
    padding: 30px;
}
.featurette-divider{
    width: 50%;
    height: 2px;
}
.content > h2{
    background-color: aqua;
    font-size: 2em;
    text-align: center;
}
.lead{
    text-align: center;
    margin: auto;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
/* ---------------------------------------------- Department -------------------------------------------------------- */
.process-wrapper {
    justify-content: center;
    align-items: center;
	margin:auto;
	max-width:1080px;
    padding: 25px;
    
}
.process-wrapper > h1{
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 35px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
   
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px;
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
       	 
	background: linear-gradient(to right, #E91E63 0%,#fff 100%); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
    
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:50px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

/* --------------------------------------------------------- Team ---------------------------------------------------------------- */
/* --------------------------------------------------------- Footer--------------------------------------------------------------- */
